

{% extends 'mess/baseStudent.html' %}

{% block body %}





<!--
<form action="{% url 'login' %}" method = "get">
	<button type="submit">Logout</button>
</form><br>
-->









<div class="container">
  
  <!-- Trigger the modal with a button -->
  <div style="width:50%;height:200px;padding:25px;border:1px solid #85929E;margin:auto;background:#008CBA;text-align:center;color:white;">
	<br/>
	<h2>Available Balance is <strong>{{balance}} Rupees</strong></h2>
  
  </div>
  
</div>










{% endblock %}
